@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color-scheme: dark light;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  font-family: "Quicksand";

  font-weight: 500;
  background-color: #242424;
}
